<h1> <%= @news_post.title %></h1> 

<p>
	Body: <%= @news_post.body %>
</p>

<p>
	ID: <%= @news_post.id %>
</p>

<p>
	Updated: <%= @news_post.updated_at %>
</p>

<p>
	Created: <%= @news_post.created_at %>
</p>

<%= link_to "Edit News Post with ID:  #{@news_post.id}", edit_news_post_path(@news_post) %>

<%= link_to "Back to All News", news_posts_path %>
